li {
    list-style: none;
}

header .container {
    width: 100%;
    height: 80px;
    background-color: rgba(17, 19, 41, 0.7);
    position: fixed;
    z-index: 10;
}

.logo {
    background-image:url(https://github.com/dwikanov/dwikanov.github.io/blob/main/fltlogo2.png?raw=true);
    background-size: 60px;
    margin:10px 10px;
    padding:30px 30px;
    float:left;
}

.header-list {
    padding:30px 0px;
}

.list {
    margin:0 30px;
    color:white;
}

.top-wrapper{
    width: 100%;
    height: 910px;
    background-color: rgb(12, 12, 12);
}

.top-wrapper p {
    padding: 100px 100px;
    color:white;
    font-size:20;
}

.video {
    float: left;
}

.videos {
    margin: 40px 0;
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
}

.video video {
    padding: 0 20px;
}

.intro {
    text-align: center;
    margin-top: 100px;
    padding-top:5px;
}

.intro p {
    line-height: 10px;
    padding:0 0;
}

.photos {
    margin:20px 20px;
    width:100%;
}

.photo {
    float:left;
    text-align: center;
}

.sub-photo {
    position:relative;
    width:15%;
    padding:20px 20px;
}

.slr {
    width:25%;
}

footer {
    background-color: rgb(51, 26, 26);
    color:rgb(255, 255, 255);
    height: 130px;
}

.footer-left {
    padding:10px 20px;
    float:left;
    font-size: 40px;
    position: relative;
}

.footer-list {
    float:right;
    text-align: right;
    padding:10px 20px;
}